[submodule "sw4lite"]
	path = sw4lite
	url = https://github.com/thaisacs/sw4lite
[submodule "thornado_mini"]
	path = thornado_mini
	url = https://github.com/thaisacs/thornado_mini
[submodule "AMG"]
	path = AMG
	url = https://github.com/thaisacs/AMG
[submodule "miniVite"]
	path = miniVite
	url = https://github.com/thaisacs/miniVite
[submodule "miniqmc"]
	path = miniqmc
	url = https://github.com/thaisacs/miniqmc
[submodule "miniAMR"]
	path = miniAMR
	url = https://github.com/thaisacs/miniAMR
[submodule "Nekbone"]
	path = Nekbone
	url = https://github.com/thaisacs/Nekbone
[submodule "SWFFT"]
	path = SWFFT
	url = https://github.com/thaisacs/SWFFT
[submodule "PICSAR"]
	path = PICSAR
	url = https://github.com/thaisacs/PICSAR
